<html>

    <head>
        <title>File Storage</title>

        <style>
        body {background-color: #5b5b5b;}
        body {color:white}
        body{text-align: justify;}
        div{text-align: center;}
        div{font-size: large;}
        div{font-weight: bold;}
        div {color:white}
        </style>

    </head>
    <body>
      <h1>File Storage System</h1>


      <ul>
        {% for file in files %}
          <li>{{ file.clientname }} - {{ file.filename }} - {{ file.filelocation }} - {{ file.activity }} - {{ file.creationdate }} - {{ file.lawyername }}</li>
        {% endfor %}
      </ul>




    </body>
    <button><a href="/index">return to the homepage</a></button> <br>
</html>
